a {
  text-decoration: none;
}
.card-wrapper {
  display: inline-block;
  border: solid 1px #703995;
  border-radius: 5px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.card-wrapper h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #703995;
  font-size: 1.1rem;
  margin-bottom: 0.2px;
}
.card-wrapper p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #303030;
  margin-bottom: 0px;
}
